# Environment files
.env
*.local

# Dependencies
node_modules/

# Build output
dist
dist-ssr

# Firebase / Secrets
serviceAccountKey.json
frontend_firebase.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VS Code
.vscode/*
!.vscode/extensions.json

# IDEs
.idea

# OS files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.sw?
